.header {
	position: relative;
	display: grid;
	grid-template-rows: 74px 320px;

	&--trainers {
		grid-template-rows: 74px 256px;
	}
}

.header-info {
	position: relative;
	background-color: $blue-400;
	box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.14);
	display: flex;
	flex-direction: column;
	align-items: center;

	&__label {
		margin-top: 64px;
		padding: 4px 8px;
		background-color: $secondary-500;
		color: white;
		box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
			0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
		text-transform: uppercase;
		border-radius: 2px;
	}

	&__title {
		max-width: 650px;
		text-align: center;
		color: white;
	}

	&--trainers {
		background: $secondary-600;

		h1 {
			color: white;
			margin: 64px 0 24px 0;
		}

		p {
			width: 850px;
			color: white;
			text-align: center;
		}
	}
}
