.title-and-img-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 400px;
	width: 100%;

	@include for-iphone {
		display: none;
	}
}

.certificate-img-container {
	width: 50%;
	@extend %flex-centered;
}

.certificate__img {
	background-color: $grey-300;
	width: 360px;
	height: 260px;
	border-radius: 12px;
	@extend %flex-centered;

	p {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}

.bottom-explanations-container {
	width: 100%;
	display: flex;

	@include for-iphone {
		flex-direction: column;
	}
}
