.directions {
	background: $secondary-50;
}

.directions-wrapper {
	height: 100%;
	@extend %flex-centered;
	flex-direction: column;
}

.directions-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.direction {
	width: 410px;
}

.directions__title,
.direction__title {
	color: $primary-300;
}
