.navigation-wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	@include for-iphone {
		// width: 100%;
	}
}

.navigation__menu {
	display: flex;
	align-items: center;
}

.navigation__logo {
	@extend %flex-centered;

	.triagle {
		padding-right: 16px;
	}

	&--responsive {
		display: none;
	}

	@include for-iphone {
		display: none;

		&--responsive {
			display: flex;
		}
	}
}

.navigation__item {
	list-style: none;
	margin: 15px 10px;

	@include for-iphone {
		display: none;
	}
}

.navigation__link {
	padding: 29px 12px;
	text-transform: uppercase;
	color: $grey-700;

	&:hover {
		cursor: pointer;
		color: $secondary-800;
	}
}

.responsive-menu-icon {
	display: none;

	@include for-iphone {
		display: block;
	}
}
