.join-the-team {
	background: $blue-300;
	border-top: 12px solid $blue-200;
	@extend %flex-centered;

	flex-direction: column;

	h1 {
		color: white;
	}

	p {
		color: white;
		width: 850px;
		text-align: center;
	}

	input {
		width: 230px;
		height: 50px;
		margin: 15px;
		text-indent: 10px;
		background: transparent;
		color: white;
		border: 2px solid white;
		border-radius: 5px;

		&::placeholder {
			color: white;
		}

		&:focus {
			outline: none;
		}
	}
}
