.text-and-img-container {
	padding-top: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description__text {
	width: 740px;
	height: 320px;
}

.description__img {
	width: 440px;
	height: 250px;
	border-radius: 5px;
	position: relative;
}

.description__explanations {
	margin-top: 80px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.suitable-for {
	display: flex;
	border-right: 10px dotted $secondary-100;
}

.knowledge-gained {
	display: flex;
	padding-left: 50px;
}

.suitable-for__content,
.knowledge-gained__content {
	padding: 0 30px;
}

.suitable-for__img,
.knowledge-gained__img {
	width: 32px;
	height: 32px;
}

.suitable-for__title,
.knowledge-gained__title {
	margin: 0;
}

.suitable-for__description,
.knowledge-gained__description {
	max-width: 488px;

	span {
		font-weight: 700;
	}
}
