.title-and-img-container {
	display: flex;
}

.certificate__description {
	display: flex;
	align-items: flex-start;
	padding: 150px 150px 150px 0;

	div {
		padding-left: 20px;
	}

	img {
		margin-top: 10px;
		width: 32px;
		height: 32px;
	}

	h1 {
		margin: 0;
	}

	p {
		width: 560px;
	}
}

.certificate-img-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.certificate__img {
	background-color: $grey-300;
	width: 360px;
	height: 260px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	justify-content: center;

	p {
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
	}
}

.bottom-paragraphs-container {
	display: flex;
}

.when-and-where-info,
.additional-info {
	width: 50%;
	display: flex;
	justify-content: flex-start;

	img {
		width: 32px;
		height: 32px;
		margin: 28px 15px 0 0;
	}
}

.when-and-where-info__content,
.additional-info__content {
	width: 544px;
}

.when-and-where-info {
	border-right: 10px dotted $secondary-100;
}

.additional-info {
	margin-left: 50px;
}

.hovered {
	text-decoration: underline;
	cursor: pointer;
	color: $secondary-800;
}
