.directions {
	background: $secondary-50;
}

.directions-wrapper {
	height: 100%;
	@include flex;
	flex-direction: column;
}

.directions-container {
	display: flex;
}

.direction {
	width: 410px;
}

.directions__title,
.direction__title {
	color: $primary-300;
}
