.signup-box {
	position: absolute;
	bottom: -56px;
	display: grid;
	grid-template-columns: 300px 1fr 1fr 1fr 1fr;
	background-color: white;
	height: 112px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
	border-radius: 12px;

	&__button-container {
		height: 100%;
		border-top-left-radius: 12px;
		border-bottom-left-radius: 12px;
		@include flex;
		border-right: 10px dotted transparent;
	}

	&__text {
		display: flex;
		flex-direction: column;
	}

	&__first-row {
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
	}

	&__second-row {
		font-family: $fontTypeTitles;
		font-style: normal;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: $secondary-800;
	}

	&__item {
		position: relative;
		@include flex;

		img,
		p {
			padding: 5px;
		}

		&:nth-child(-n + 4)::after {
			content: url("../../assets/icons/rectangle.svg");
			position: absolute;
			right: 0;
		}

		&:nth-last-child() {
			border-top-right-radius: 12px;
			border-bottom-right-radius: 12px;
		}
	}
}
