$grey-200: #e6e6e6;
$grey-300: #d6d6d6;
$grey-500: #919191;
$grey-700: #565656;

$primary-300: #41bead;

$secondary-100: #ffecb3;
$secondary-500: #ffc20a;
$secondary-800: #ff9100;
$secondary-900: #ff7100;

$blue-400: #44a9f8;
