@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
header,
main,
footer {
  font-family: "Lato", sans-serif;
  color: #565656;
}

a,
button {
  font-style: normal;
  font-size: 13px;
  line-height: 16px;
}

a {
  font-weight: 600;
}

button {
  font-weight: 800;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  width: 90%;
}

.btn {
  background-color: #ff9100;
  color: white;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 100px;
  text-transform: uppercase;
}

.btn:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn--small {
  padding: 10px 22px;
}

.btn--big {
  padding: 14px 32px;
}

.btn--transparent {
  background: transparent;
  border: 1px solid #ff9100;
  color: #ff9100;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: ease-in-out 0.3;
  transition: ease-in-out 0.3;
  position: relative;
  z-index: 1;
}

.btn--transparent::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  border: none;
  border-radius: 100px;
  background-color: #ff9100;
}

.btn--transparent:hover {
  color: white;
}

.btn--transparent:hover::before {
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 800px 560px 1000px;
      grid-template-rows: 800px 560px 1000px;
}

.main--trainers {
  -ms-grid-rows: 550px 1400px 400px;
      grid-template-rows: 550px 1400px 400px;
}

.main--contact {
  -ms-grid-rows: 700px 580px;
      grid-template-rows: 700px 580px;
}

.footer {
  height: 320px;
  background-color: #565656;
  border-top: 12px solid #919191;
  position: relative;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__content {
  padding: 64px 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer p:hover {
  color: #41bead;
  cursor: pointer;
}

.footer-thingy-container {
  width: 370px;
  height: 100%;
}

.footer__thingy {
  position: absolute;
  bottom: 0;
  left: 75px;
}

.footer__thingy:hover {
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.softuni-kids {
  height: auto;
  margin: 0 50px 0 0;
}

.softuni-kids__title {
  margin: 0 0 5px 0;
}

.softuni-kids__content {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 150px 140px;
      grid-template-columns: 150px 140px;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.softuni-kids__content p {
  margin: 6px 0;
  color: #e6e6e6;
}

.all-courses {
  margin: 0 70px 0 0;
}

.all-courses__title {
  margin: 0 0 5px 0;
}

.all-courses__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.all-courses__content p {
  margin: 6px 0;
  color: #e6e6e6;
}

.all-initiatives {
  margin: 0 70px 0 0;
}

.all-initiatives__title {
  margin: 0 0 5px 0;
}

.all-initiatives__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.all-initiatives__content p {
  margin: 6px 0;
  color: #e6e6e6;
}

.find-us__title {
  margin: 0 0 5px 0;
}

.find-us__icons {
  padding: 24px 0 48px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.find-us__text {
  width: 180px;
  color: #919191;
}

.facebook-icon,
.instagram-icon {
  margin: 0 30px 0 0;
  color: #e6e6e6;
}

.facebook-icon {
  background: url("../../assets/icons/facebook.svg");
  width: 29px;
  height: 28px;
}

.facebook-icon:hover {
  cursor: pointer;
  background: url("../../assets/icons/facebook-pressed.svg");
}

.instagram-icon {
  background: url("../../assets/icons/instagram.svg");
  width: 28px;
  height: 28px;
}

.instagram-icon:hover {
  cursor: pointer;
  background: url("../../assets/icons/instagram-pressed.svg");
}

.header {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 74px 320px;
      grid-template-rows: 74px 320px;
}

.header--trainers {
  -ms-grid-rows: 74px 256px;
      grid-template-rows: 74px 256px;
}

.header--contact {
  -ms-grid-rows: 74px 426px;
      grid-template-rows: 74px 426px;
}

.header-info {
  position: relative;
  background-color: #44a9f8;
  -webkit-box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.14);
          box-shadow: inset 0 4px 5px 0 rgba(0, 0, 0, 0.14);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-info__label {
  margin-top: 64px;
  padding: 4px 8px;
  background-color: #ffc20a;
  color: white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  border-radius: 2px;
}

.header-info__title {
  max-width: 650px;
  text-align: center;
  color: white;
}

.header-info--trainers {
  background: #ffb402;
}

.header-info--trainers h1 {
  color: white;
  margin: 64px 0 24px 0;
}

.header-info--trainers p {
  width: 850px;
  color: white;
  text-align: center;
}

.header-info--contact {
  background: url("../../assets/images/map.png");
}

.navigation-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__item {
  list-style: none;
  margin: 15px 10px;
}

.navigation__link {
  padding: 29px 12px;
  text-transform: uppercase;
  color: #565656;
}

.navigation__link:hover {
  cursor: pointer;
  color: #ff9100;
}

.program {
  background-color: #ff7100;
}

.program-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 75px;
}

.book-icon {
  width: 32px;
  height: 24px;
  margin: 10px;
}

.course-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.course-program select {
  width: 675px;
  height: 50px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 6px;
  text-indent: 10px;
  color: #565656;
}

.course-program__title {
  margin: 0;
}

.course-program__description {
  width: 675px;
}

.laptop-img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 170px;
  margin-bottom: 20px;
}

.signup-box {
  position: absolute;
  bottom: -56px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 1fr 1fr 1fr;
      grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  background-color: white;
  height: 112px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.signup-box__button-container {
  height: 100%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 10px dotted transparent;
}

.signup-box__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-box__first-row {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.signup-box__second-row {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #ff9100;
}

.signup-box__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signup-box__item img,
.signup-box__item p {
  padding: 5px;
}

.signup-box__item:nth-child(-n + 4)::after {
  content: url("../../assets/icons/rectangle.svg");
  position: absolute;
  right: 0;
}

.signup-box__item:nth-last-child() {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.text-and-img-container {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description__text {
  width: 740px;
  height: 320px;
}

.description-img-container {
  width: 440px;
  height: 250px;
  position: relative;
}

.description__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.description-img-triangle {
  position: absolute;
  left: 188px;
  top: 98px;
}

.description__explanations {
  margin-top: 80px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.suitable-for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-right: 10px dotted #ffecb3;
}

.knowledge-gained {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
}

.suitable-for__content,
.knowledge-gained__content {
  padding: 0 30px;
}

.suitable-for__img,
.knowledge-gained__img {
  width: 32px;
  height: 32px;
}

.suitable-for__title,
.knowledge-gained__title {
  margin: 0;
}

.suitable-for__description,
.knowledge-gained__description {
  max-width: 488px;
}

.title-and-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.certificate__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 150px 150px 150px 0;
}

.certificate__description div {
  padding-left: 20px;
}

.certificate__description img {
  margin-top: 10px;
  width: 32px;
  height: 32px;
}

.certificate__description h1 {
  margin: 0;
}

.certificate__description p {
  width: 560px;
}

.certificate-img-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificate__img {
  background-color: #d6d6d6;
  width: 360px;
  height: 260px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.certificate__img p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.bottom-paragraphs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.when-and-where-info,
.additional-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.when-and-where-info img,
.additional-info img {
  width: 32px;
  height: 32px;
  margin: 28px 15px 0 0;
}

.when-and-where-info__content,
.additional-info__content {
  width: 544px;
}

.when-and-where-info {
  border-right: 10px dotted #ffecb3;
}

.additional-info {
  margin-left: 50px;
}

.hovered {
  text-decoration: underline;
  cursor: pointer;
  color: #ff9100;
}

.head-trainers {
  border-bottom: 10px dotted #dff4f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}

.trainer__img {
  position: relative;
}

.trainer__img .img {
  width: 175px;
  height: 175px;
  border: 10px solid #41bead;
  border-radius: 50%;
}

.trainer__img .overlay {
  width: 175px;
  height: 175px;
  border: 10px solid #41bead;
  border-radius: 50%;
  background-color: #ff9100;
  position: absolute;
  top: 0;
  left: 0px;
  opacity: 0.8;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}

.trainer__img:hover .overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.trainer__content {
  margin: 0 0 0 50px;
  width: 400px;
}

.trainer__name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #41bead;
  margin: 0;
}

.trainer__qualification {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #b2b2b2;
}

.secondary-trainers-wrapper {
  margin: 100px 140px;
  height: auto;
  width: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

.secondary-trainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 70px;
}

.join-the-team {
  background: #66b9f8;
  border-top: 12px solid #92cdfb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join-the-team h1 {
  color: white;
}

.join-the-team p {
  color: white;
  width: 850px;
  text-align: center;
}

.join-the-team input {
  width: 230px;
  height: 50px;
  margin: 15px;
  text-indent: 10px;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

.join-the-team input::-webkit-input-placeholder {
  color: white;
}

.join-the-team input:-ms-input-placeholder {
  color: white;
}

.join-the-team input::-ms-input-placeholder {
  color: white;
}

.join-the-team input::placeholder {
  color: white;
}

.join-the-team input:focus {
  outline: none;
}

.info-box {
  width: 520px;
  height: 380px;
  position: absolute;
  left: 75px;
  bottom: -64px;
  background: white;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.info-box-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 140px 120px;
      grid-template-rows: 140px 120px;
  margin: 10px 32px 25px 32px;
}

.info-box-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-box-item__title {
  font-size: 20px;
  color: #66b9f8;
}

.working-hours {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.workhours,
.workdays {
  margin: 5px 0;
}

.workhours {
  color: #ff9100;
}

.directions {
  background: #fff8e1;
}

.directions-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.directions-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction {
  width: 410px;
}

.directions__title,
.direction__title {
  color: #41bead;
}

.contact-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form-container button {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 32px;
}

.contact-form {
  width: 850px;
}

.contact-form__title {
  font-size: 30px;
  color: #41bead;
}

.contact-form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.contact-form input {
  width: 400px;
  height: 50px;
}

.contact-form textarea {
  width: 100%;
  height: 200px;
  padding-top: 10px;
}

.contact-form input,
.contact-form textarea {
  text-indent: 10px;
  border-radius: 6px;
}

.bolded {
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */